<div>

<h1>Stores</h1>

<ul>
  <% @store.each do |store| %>
    <li><%= link_to store.name, store_url(store) %></li>
  <% end %>
</ul>

<%
  # TODO: (Bonus Task) Implement complete store functionality
  # - Display all online stores here -> clear
  # - When clicked, go to stores#show page -> clear
  # - Add a link to create store -> clear
  # - Display store rating (based on the ratings from purchase reviews)
%>
  <%= link_to 'Add Store', new_store_url %>
</div>